<!-- Prevent users without access rights from viewing private sections-->
{% if hasAccess %}

<b>Section creation page</b><br>
<a href="/">Back</a><br>
{% if error %}
<p class=error><strong style="color:red">Error:</strong> {{ error }}
{% endif %}
<form action="/post_section" method ="POST">
<p>Section name:<br>
<input type="text" name="sectionName"></p>
<input type="checkbox" name="makePrivate" value="mkPri"> Make private
<br>
<br>
<input type="submit" value="Create">
</form>

{% else %}
You do not have permission to view this page.
{% endif %}
    