<!-- Prevent users without access rights from viewing private sections-->
{% if hasAccess %}

<b>Edit thread</b><br>
<a href="/section/{{ id }}/{{ thread_id }}">Back</a><br>

{% if error %}
<p class=error><strong style="color:red">Error:</strong> {{ error }}
{% endif %} 

<form action="/section/{{ id }}/{{ thread_id }}/post_thread_edit" method ="POST">
<p>Thread title:<br>
<input type="text" name="threadTitle" value = "{{thread.thread_name}}"></p>
Content: <br>
<textarea name="content" rows="3" cols="40">{{thread.content}}</textarea>
<br>
<input type="submit" value="Post">
<input type="hidden" name="crsf_token" value="{{ session.crsf_token }}">
</form>

{% else %}
You do not have permission to view this page.
{% endif %}
    