<!-- Title and forum name with a brief description -->
<title>The forum</title>
<h1>The forum</h1>
<h2>A place for discussion</h2>

<!-- Log in / log out possibility -->
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<a href="/logout">Log out</a>

{% else %}
<p>You are not logged in.</p>
<a href="/loginpage">Log in</a> 
<br>
<a href="/register">Create account</a>
{% endif %}

<!-- For displaying the current sections in the forum -->
<hr>
{% for section in sections %}
<a href="/section/{{ section.id }}">{{ section.section_name }}</a><br>
Number of threads: {{ section.thread_count }} <br>
Number of messages: {{ section.message_count }}<br>
Time stamp of the latest message: {{ section.max.strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}