<!-- Prevent users without access rights from viewing private sections-->
{% if hasAccess %}

{% extends "layout.html" %}
{% block title %}Section: {{  sectionName }}{% endblock %}

{% block content %}

<h2>Section: {{ sectionName }}
{% if isPrivate %}
 (Private)
{% endif %}</h2>

<a href="/">Back</a>
<br>
{% if session.username %}
<a href="/section/{{id}}/createthread">Create thread</a> 
{% if isModerator and isPrivate %}
<br>
<a href="/{{id}}/grantuseraccess">Grant user access to this section</a>
{% endif %}
{% else %}
<a href="/loginpage">Log in</a> to create a thread
{% endif %} 


<hr>
{% for thread in threads %}
<a href="/section/{{ id }}/{{ thread.id }}"><p style="font-size:110%;margin-bottom:-10px">{{ thread.thread_name }}</p></a> <br>
Created: {{ thread.posting_time.strftime("%Y-%m-%d %H:%M:%S") }} <br>
Posted by: {{ thread.username }} <br>
Number of replies: {{ thread.reply_count }} <br>
<hr>
{% endfor %}

{% endblock %}

{% else %}
You do not have permission to view this page.
{% endif %}