<!-- Prevent users without access rights from viewing private sections-->
{% if hasAccess %}

<h1>{{ section.section_name }}
{% if section.private %}
 (Private)
{% endif %}</h1>
<a href="/">Back</a>

<!-- Search functionality -->
<hr>
<form action="/result" method="GET">
    <p> Search the forum: <input type = "text" name ="query">
    <input type="hidden" name="prevURL" value = {{ request.path }}>
    <br>
    <input type ="submit" value="Search"></p>
</form>
<hr>


{% if session.username %}
<a href="/section/{{id}}/createthread">Create thread</a> 
{% if isModerator %}
<br>
<a href="/{{id}}/grantuseraccess">Grant user access to this section</a>
{% endif %}
{% else %}
<a href="/loginpage">Log in</a> to create a thread
{% endif %} 


<hr>
{% for thread in threads %}
<a href="/section/{{ id }}/{{ thread.id }}">{{ thread.thread_name }}</a> <br>
Created: {{ thread.posting_time.strftime("%Y-%m-%d %H:%M:%S") }} <br>
Posted by: {{ thread.username }} <br>
Number of replies: TBD <br>
<hr>
{% endfor %}

{% else %}
You do not have permission to view this page.
{% endif %}