<b>{{ thread.thread_name }}</b><br>

<i>Posting time:</i> {{ thread.posting_time.strftime("%Y-%m-%d %H:%M:%S") }} 
<br>
<i>Posted by:</i> {{ thread.username }}
<br>
{{ thread.content }}
<hr>

{% if session.username %}
<a href="/section/{{id}}/{{thread_id}}/reply">Reply</a> 
{% else %}
<a href="/loginpage">Log in</a> to reply
{% endif %}
<hr>

{% for message in messages %}
<i>Posting time:</i> {{ message["posting_time"].strftime("%Y-%m-%d %H:%M:%S") }} 
<br>
<i>Posted by:</i> {{ message.username }}
<br>
{{ message["content"] }}
<hr style="margin-bottom:0.1cm" >
{% endfor %}